body {
	background-color: #FFF;
	color: #000;
}

header {
}

.title {
	border: solid;
	text-align: center;
}

.menu{
	background-color: #222222;
	color: white;
	display: flex;
	text-align: center;
}
.menu ul {
	margin: 0;
	padding: 6px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	list-style-type: none;
}
.menu li{
	padding: 6px;
	flex: 1;
}
.menu a{
	color: white;
	text-decoration: none;
}

.main {
	display: flex;
	flex-diretion: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile {
}

.category {
}

.new_article {
}

.twitter {
}
