body {
	background-color: #FFF;
	color: #000;
}
header {
}
.title {
	border: solid;
}
.profile {
	border: solid;
}
.menu{
	background-color: #222222;
	color: white;
}
.menu ul {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0;
	padding: 6px;
	list-style-type: none;
}
